*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;  
}

html {
    /*root*/
    font-size: 100%;
    height: 100%;
}

body {
    color: #172A4E;
    box-sizing: border-box;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont, sans-serif;
}